---
layout: handbook-page-toc
title: "Dev & Analytics Quality Engineering team"
description: "Quality Engineering team for the Dev & Analytics Section"
---

## On this page
{:.no_toc .hidden-md .hidden-lg}

- TOC
{:toc .hidden-md .hidden-lg}

## Team Handles

| **GitLab Team Handle** | [`@gl-quality/dev-qe`](https://gitlab.com/gl-quality/dev-qe) |
| **Slack Channel** | [#g_qe_dev](https://gitlab.slack.com/archives/CU90UDHC6) |
| **Slack Handle** | `@dev-qe-team`
| **Team Boards** | [Team Board](https://gitlab.com/groups/gitlab-org/-/boards/425899) |
| **Issue Tracker** | [quality/team-tasks](https://gitlab.com/gitlab-org/quality/team-tasks/issues/) |

Engineers in this Sub-Department are embedded in the [Dev section] and [Analytics section]

## Current OKR 

Here is an [overview](https://gitlab.com/gitlab-com/gitlab-OKRs/-/work_items/122353690) of our current Dev & Analytics Quality Engineering OKR.

## Dev Section

### Team Members

Quality Engineering Manager: Ramya Authappan

| S.No 	| Stage     	| Group                    	| SET Counterpart                                                      	|
|------	|-----------	|--------------------------	|---------------------------------------------------------------------	|
| 1    	| Create    	| [Source Code]            	| Anastasia McDonald                                                    |
| 2    	| Create    	| [Code Review]            	| Jay McCure                                                           	|
| 3    	| Create    	| [Editor]                 	| TBH                                                   	            |
| 4    	| Manage    	| [Authentication and Authorization]                 	| Sanad Liaquat                             |
| 5    	| Manage    	| [Import-Integrations]     | Andrejs Cunskis                                                      	|
| 6    	| Manage    	| [Foundations]           	| TBH                                                                   |
| 7    	| Plan    	    | [Optimize]               	| TBH                                                                  	|
| 8   	| Plan      	| [Project Management]     	| Désirée Chevalier                                                    	|
| 9   	| Plan      	| [Product Planning]       	| TBH                                                                  	|
| 10   	| Plan      	| [Knowledge]                	| TBH                                                                  	|

### Quality Performance Indicators for Dev Section

(<a href="https://app.periscopedata.com/app/gitlab/736012/Quality-Embedded-Dashboard" target="_blank">Sisense↗</a>)
<embed width="100%" height="550" src="<%= signed_periscope_url({ dashboard: 736012, embed: 'v2', filters: [{name: 'Development_Section' , value: 'dev' }]}) %>">

### Bugs Prioritization

As part of the [Cross functional prioritization](https://about.gitlab.com/handbook/product/cross-functional-prioritization), the SETs or the QEMs (in the absence of a dedicated SET for the product group) prioritise the list of bugs and help in the planning of the upcoming milestone. The [Bug Prioritization Dashoard](https://app.periscopedata.com/app/gitlab/1037965/Bug-Prioritization) is used for this process.

Please find below the relevant projects/epics/issue boards used by various product groups to plan monthly releases.

| **S.No** | **Group**            | **DRI for Bugs Prioritization** | **Planning Issues**                                                                                                                                                                                                                |
|----------|----------------------|---------------------------------|------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|
| 1        | [Source Code]        |  Anastasia McDonald             | [Planning Issue](https://gitlab.com/gitlab-org/create-stage/-/issues/?search=Planning&sort=created_date&state=opened&label_name%5B%5D=group%3A%3Asource%20code&first_page_size=20)                                                       |
| 2        | [Code Review]        | Jay McCure                      | [Planning Issue](https://gitlab.com/gitlab-org/create-stage/-/issues/?search=Planning&sort=created_date&state=opened&label_name%5B%5D=group%3A%3Acode%20review&first_page_size=20)                                                       |
| 3        | [Editor]             | Ramya Authappan                 | [Planning Issue](https://gitlab.com/gitlab-com/create-stage/editor/-/issues/?sort=created_asc&state=all&label_name%5B%5D=Planning%20Issue&first_page_size=20) |
| 4        | [Authentication and Authorization]  | Sanad Liaquat    | [Planning Issue](https://gitlab.com/gitlab-org/manage/general-discussion/-/issues/?sort=created_date&state=opened&label_name%5B%5D=Planning%20Issue&label_name%5B%5D=group%3A%3Aauthentication%20and%20authorization&first_page_size=20) |
| 5        | [Import-Integrations]             | Andrejs Cunskis                 |[Planning Issue](https://gitlab.com/gitlab-org/manage/general-discussion/-/issues/?sort=created_date&state=opened&label_name%5B%5D=Planning%20Issue&label_name%5B%5D=group%3A%3Aimport&first_page_size=20)              |
| 6        | [Foundations]        | Ramya Authappan                 | [Planning Issue](https://gitlab.com/gitlab-org/manage/foundations/team-tasks/-/issues/?sort=created_date&state=opened&label_name%5B%5D=Planning%20Issue&label_name%5B%5D=group%3A%3Afoundations&first_page_size=20)                         |
| 7        | [Optimize]           | Ramya Authappan                 | [Planning Issue](https://gitlab.com/gitlab-org/manage/general-discussion/-/issues/?sort=created_date&state=opened&label_name%5B%5D=Planning%20Issue&label_name%5B%5D=group%3A%3Aoptimize&first_page_size=20)                             |
| 8        | [Project Management] | Désirée Chevalier               | [Planning Issue](https://gitlab.com/gitlab-org/plan/-/issues/?search=Release%20Planning&sort=created_date&state=opened&label_name%5B%5D=group%3A%3Aproject%20management&first_page_size=20)                                              |
| 9        | [Product Planning]   | Ramya Authappan                 | [Planning Issue](https://gitlab.com/gitlab-org/plan/-/issues/?search=Release%20Planning&sort=created_date&state=opened&label_name%5B%5D=group%3A%3Aproduct%20planning&first_page_size=20)                                                |
| 10       | [Knowledge]          | Ramya Authappan                 | [Planning Issue](https://gitlab.com/gitlab-org/plan/-/issues/?search=Release%20Planning&sort=created_date&state=opened&label_name%5B%5D=group%3A%3Aproduct%20planning&first_page_size=20)                                                |

## Analytics Section

### Team Members

Quality Engineering Manager: Ramya Authappan

| S.No 	| Stage     	| Group                    	| SET Counterpart                                                      	|
|------	|-----------	|--------------------------	|---------------------------------------------------------------------	|
| 1    	| Analytics    	| [Product Intelligence]    | Sean Gregory                                                    |
| 2    	| Analytics    	| [Product Analytics]       | TBH                                                           	|

### Quality Performance Indicators for Analytics Section

(<a href="https://app.periscopedata.com/app/gitlab/736012/Quality-Embedded-Dashboard" target="_blank">Sisense↗</a>)
<embed width="100%" height="550" src="<%= signed_periscope_url({ dashboard: 736012, embed: 'v2', filters: [{name: 'Development_Section' , value: 'analytics' }]}) %>">

### Bugs Prioritization

As part of the [Cross functional prioritization](https://about.gitlab.com/handbook/product/cross-functional-prioritization), the SETs or the QEMs (in the absence of a dedicated SET for the product group) prioritise the list of bugs and help in the planning of the upcoming milestone. The [Bug Prioritization Dashoard](https://app.periscopedata.com/app/gitlab/1037965/Bug-Prioritization) is used for this process.

Please find below the relevant projects/epics/issue boards used by various product groups to plan monthly releases.

| **S.No** | **Group**            | **DRI for Bugs Prioritization** | **Planning Issues**                                                                                                                                                                                                                |
|----------|----------------------|---------------------------------|------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|
| 1        | [Product Intelligence]|  Sean Gregory                  | TBD |
| 2        | [Product Analytics]  | Ramya Authappan                 | TBD |

[Dev section]: /handbook/product/categories/#dev-section
[Authentication and Authorization]: /handbook/product/categories/#authentication-and-authorization-group
[Organization]: /handbook/product/categories/#organization-group
[Import]: /handbook/product/categories/#import-group
[Optimize]: /handbook/product/categories/#optimize-group
[Source Code]: /handbook/product/categories/#source-code-group
[Code Review]: /handbook/product/categories/#code-review-group
[Editor]: /handbook/product/categories/#editor-group
[Project Management]: /handbook/product/categories/#project-management-group
[Product Planning]: /handbook/product/categories/#product-planning-group
[Certify]: /handbook/product/categories/#certify-group
[Integrations]: /handbook/product/categories/#integrations-group
[Foundations]: /handbook/product/categories/#foundations-group
[Analytics section]: /handbook/product/categories/#analytics-section
[Product Intelligence]: /handbook/product/categories/#product-intelligence-group
[Product Analytics]: /handbook/product/categories/#product-analytics-group
